<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ftpos.ftappdemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:name=".SDKDemoApp"
        android:allowBackup="true"
        android:enabled="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DukptActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".KeyManagerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BuzzerActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".LedActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RingLightActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PsamActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PrinterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CryptoActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".IcCardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DeviceActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NfcCardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MagCardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MemoryCardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SerialPortActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BtScreenActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DockActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".F360BaseActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AccessoryManagerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NfcSimulationCardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>